<div class="card-body d-flex justify-content-between">
  <div>
    <h4>
      <%= @status.name %>
    </h4>
    <h5>
      <%= t ".finished_rate" %>
      <%= @finished_rate %>%
    </h5>
  </div>
  <%= render partial: "finish_button", locals: {object: @status} %>
</div>
